/*
Name: John Ryan
Date: July 2021
 */

 /* variables */
 :root {
   --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
   --blue: #1167b1;

}


 /* components */
.btn {
  display: block;
  text-align: center;
  background-color: var(--blue);
  text-decoration: none;
  color: white;
  line-height: 100%;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: white;

}
.btn:hover {
  border-style: solid;
  border-color: black;
}
 /* header */
 .headnav{
   display: flex;
   flex-direction: column;

 }
.headnav a{
  box-shadow: var(--shadow);
  text-decoration: none;
  padding: 10px;
  color: black;
  display: block;
  width: 90%;
  text-align: center;
  margin: auto;
}
.headnav a:hover{
  background-color: grey;
  color: white;
}
.headline h1{
  line-height: 90px;
}


 /* body */
.main{
  border-style: solid;
  border-color: grey;

  box-shadow: var(--shadow);
  margin: 0;
  display: block;
}
.all{
  display: flex;
  flex-direction:column;
}
/* body index */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-style: solid;
  border-color: grey;
}
.intro img{
  max-width: 300px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: var(--shadow)
}
.intro p{
  margin: 10px
}
.introtext {
  display: flex;
  flex-direction: column;

}
.introbuttons{

}
.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:10px;
}
.cards img{
  width: 100%;
  max-height: 60%;
  display: block;
  object-fit: cover;
  box-shadow: var(--shadow);
}
.card1, .card2, .card3, .card4 {
  border: solid;
  padding: 10px;
  margin: 10px;

  text-align: center;
}
.card1 h4, .card2 h4, .card3 h4, .card4 h4 {
  text-decoration: underline;
}
/* body bio */
.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.bio img {
  max-width: 300px;
  box-shadow: var(--shadow);
  margin: 10px;
}
.bio h2 {
  text-decoration: underline;
}
.bio p {
  margin: 10px;
}
 /* footer */
footer, .headline {
  background-color: black;
  text-align: center;
  height: 90px;
  margin: auto;

  color: white;


}
footer p{
  font-size: 2em;
  line-height: 90px;
}
/* size changes */
@media screen and (min-width:700px) {
  .headnav{

    justify-content: space-around;
  }
  .headnav a{
    padding: 10px;
    color: black;

    width: 90px;

  }
  .intro, .headnav {
    flex-direction: row;
  }
  .intro {


  }
  .introbuttons{
    display: flex;
    justify-content: center;
  }
  .cards{
    flex-direction: row;
    flex-wrap: wrap;

  }
  .card1, .card2, .card3, .card4 {
    width: 33%;
    height: 300px;

  }
  .bio {
    flex-direction: row;
  }
  .bio p{
    text-align:left;
  }
}
